@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif, "Roboto", sans-serif, "Segoe UI", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.5rem;
}
h1 {
  font-size: 6rem;
}
.app {
  width: 100%;
  height: 100vh;
  position: relative;
}
.app::before {
  content: "";
  background: url("./asset/sunset.jpeg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  max-width: 700px;
  height: 470px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.app {
  .top {
    width: 100%;
    margin: 1rem;
    .location {
      font-size: 50px;
      margin-bottom: 0%;
      display: flex;
      .image {
        margin: 3px;
        margin-bottom: 0px;
      }
    }
    .description {
      position: relative;
      right: -90%;
      transform-origin: 0 0;
      transform: rotate(270deg);
      top: -58px;
      text-decoration: solid rgba(0, 0, 0, 0.4);
    }
  }
  .bottom {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    width: 100%;
    text-align: center;
    margin: 0.5rem auto;
    padding: 1rem;
    top: -50px;
  }
}
.bold {
  font-weight: 600;
}
.search {
  text-align: center;
  padding: 1rem;
}
.search input {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  text-align: center;
  outline: none;
}
::placeholder {
  color: black;
  font-weight: 300;
}
